:root {
  --highlight: #000;
  --bg: #fff;
  --component-bg: #eaeaea;
  --border: #d1d1d1;
  --highlight1: #12a5b1;
  --highlight2: #203960;
  --text: #000;
  --danger: #f00;
  --sucess: #3ee13e;

  --radius: 7px;
  --font: 'Roboto';
}
/* Dark mode */
[data-theme='dark'] {
  --highlight: #eaeaea;
  --bg: #171717;
  --component-bg: #202020;
  --border: #363636;
  --highlight1: #222;
  --highlight2: #222;
  --text: #eee;
}
[data-theme='red'] {
  --highlight: #eaeaea;
  --bg: #801010;
  --component-bg: #ba1717;
  --border: #ff3a3a;
  --highlight1: #222;
  --highlight2: #222;
  --text: #000;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  font-family: var(--font), sans-serif;
  background-color: var(--bg);
  color: var(--text);
}
main {
  padding: 1rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

button,
input {
  border: var(--border) 0.2rem solid;
  border-radius: var(--radius);
  background-color: transparent;
  padding: 0.2rem;
  color: inherit;
}

button {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

button:hover {
  background-color: var(--border);
}

button:disabled {
  color: var(--text);
  /* border-color: var(--border); */
}

select {
  border-radius: var(--radius);
  background-color: transparent;
  border: var(--border) 0.2rem solid;
}

.contentBox {
  border: var(--border) 0.2rem solid;
  border-radius: var(--radius);
  background-color: var(--component-bg);
  padding: 1rem;
  margin: 0.5rem;
}
.contentBox2 {
  border-radius: var(--radius);
  background-color: var(--component-bg);
  box-shadow: 0px 0px 5px #0008;
  padding: 1rem;
  margin: 0.5rem;
}
.contentBox2 {
  border: var(--border) 0.2rem solid;
  border-radius: var(--radius);
  /* background-color: var(--component-bg); */
  padding: 1rem;
  margin: 0.5rem;
}

.contentBox4 {
  /* border: var(--border) 0.2rem solid; */
  border-radius: var(--radius);
  background-color: var(--component-bg);
  padding: 1rem;
  margin: 0.5rem;
}

.flexRowContainer {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  padding: 1rem;
  width: 100%;
  height: 75px;
  background-color: var(--component-bg);
  border-bottom: 0.2rem solid var(--border);
  z-index: 10;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navRight li {
  margin: 0.2rem;
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Text */
.text-danger {
  color: var(--danger);
  font-weight: 700;
}
.text-sucess {
  color: var(--sucess);
  font-weight: 700;
}
.text-title {
  font-size: 2rem;
  font-weight: 700;
}
.text-subtitle {
  font-size: 1.2rem;
  /* font-weight: ; */
  color: var(--highlight1);
}
.text-titlecase {
  text-transform: capitalize;
}
.text-bg {
  position: absolute;
  display: inline;
}

/* Sign in */

.btn-logo {
  height: 1.5rem;
  aspect-ratio: 1/1;
}
.emailForm {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

/* Team */

.teamMember {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0.3rem;
}
.memberList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.requestsList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.request {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem;
}

.teamsList {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

/* Profile */

.profileBox {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
}
.teamsBox {
  list-style-type: none;
}

.profileUsername {
  padding: 0.3rem 0;
}

/* Pairs */

.pairing {
  margin: 0 0.3rem 0.3rem 0;
}

.nameSlot {
  border: 0.2rem solid var(--border);
  border-radius: var(--radius);
  /* padding: 0.3rem; */
  width: 100%;
  height: 2.8rem;
  display: flex;
}

.pairSlots {
  position: absolute;
  width: calc(50% - 1rem);
  /* overflow-y: scroll; */
  /* height: 58.5rem; */
  /* grid-area: left; */
  margin: 1rem 0 1rem 1rem;
  padding-bottom: 0.7rem;
}
.nameList {
  border: 0.2rem solid var(--border);
  border-radius: var(--radius);
  /* max-height: calc(100% - 80px - 2rem); */
  position: fixed;
  width: calc(50% - 1rem);
  right: 0;
  margin: 1rem 1rem 1rem 0;
  height: calc(100% - 75px - 2rem);
  padding: 0.3rem;
}
.nameList .name {
  margin: 0.2rem;
  width: calc(33% - 0.4rem);
  color: var(--highlight);
}
.nameSlot .name {
  z-index: 1;
  margin: 0.2rem;
  align-self: flex-start;
  flex-grow: 1;
}

.pairWindow {
  display: grid;
  width: 100%;
  /* justify-content: stretch; */
  grid-template-columns: 1fr 1fr;
}
.name {
  /* cursor: grab; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  /* background-color: var(--med); */
  border: var(--border) 0.2rem solid;
  text-align: center;
  font-family: inherit;
  /* font-weight: 700; */
  font-style: normal;
  font-size: 1.2em;
  height: 2rem;
  padding: 5px;
  border-radius: var(--radius);
  overflow-y: hidden;
  white-space: nowrap;
}
.name:hover {
  background-color: inherit;
}

.pairing[boatDisplay='false'] > :nth-child(2) .slotName {
  /* content: 'Skipper'; */
  color: var(--highlight2);
  border-color: var(--highlight2);
}
.pairing > :nth-child(2) .name {
  color: var(--highlight2);
  border-color: var(--highlight) 2;
}
.pairing > :nth-child(3) .slotName {
  /* content: 'Crew'; */
  color: var(--highlight1);
  border-color: var(--highlight1);
}
.pairing > :nth-child(3) .name {
  color: var(--highlight1);
  border-color: var(--highlight1);
  background-color: var(--medDark);
}
.pairing > :nth-child(4) .slotName {
  /* content: 'Rotating'; */
  color: var(--highlight2);
  border-color: var(--highlight2);
}
.pairing > :nth-child(4) .name {
  color: var(--highlight2);
  border-color: var(--highlight2);
  background-color: var(--medDark);
}

.slotName {
  padding: 0.5rem;
  padding: 0.7rem;
  font-size: 0.8rem;
}

/* Events */
.eventTitleBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.eventHeaderFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-transform: capitalize;
}

.descriptionTitle {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}
