:root {
  --highlight: #000;
  --bg: #fff;
  --component-bg: #eaeaea;
  --border: #d1d1d1;
  --veryLight: #f4f4f4;
  --highlight1: #858585;
  --highlight2: #203960;
  --highlight3: #aaa;
  --text: #000;
  --danger: #f00;
  --sucess: #3ee13e;
  --women: #faa;

  --border-size: 0.1rem;
  --radius: 7px;
  /* --font: 'Inter'; */
  --font: 'Rubik';
  /* --font: 'Lato'; */
}
/* Dark mode */
[data-theme='dark'] {
  --highlight: #eaeaea;
  --bg: #171717;
  --component-bg: #202020;
  --veryLight: #1c1c1c;
  --border: #363636;
  --highlight1: #222;
  --highlight2: #222;
  --highlight3: #555;
  --text: #eee;
  --women: #903737;
}
/* michelle */
[data-theme='new'] {
  --highlight: #000;
  --bg: #fff;
  --component-bg: #ebeced;
  --border: #c2c2ce;
  --highlight1: #ffbf1c;
  --highlight2: #203960;
  --highlight3: #aaa;
  --text: #090909;
}
[data-theme='red'] {
  --highlight: #eaeaea;
  --bg: #801010;
  --component-bg: #ba1717;
  --border: #ff3a3a;
  --highlight1: #222;
  --highlight2: #222;
  --text: #000;
}

.responsiveRowCol {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 10px;
}
.flexWrap {
  flex-wrap: wrap;
}

body {
  margin: 0;
  padding: 0;
  margin-top: 55px;
  font-family: var(--font), sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

main {
  padding: 1rem;
  min-height: 100vh; /* Ensure body takes full height */
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

button,
input {
  border: none;
  border-radius: var(--radius);
  background-color: transparent;
  padding: 0.2rem;
  color: inherit;
}
input {
  border: var(--border) var(--border-size) solid;
}

button {
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

button:hover {
  background-color: var(--border);
}

button:disabled {
  color: var(--text);
  /* border-color: var(--border); */
}

select {
  border-radius: var(--radius);
  background-color: transparent;
  border: var(--border) var(--border-size) solid;
}
.border {
  border: var(--border) var(--border-size) solid;
  border-radius: var(--radius);
  padding: 0.5rem;
}

.contentBox {
  /* border: var(--border) var(--border-size) solid; */
  border-radius: var(--radius);
  /* background-color: var(--component-bg); */
  box-shadow: 0px 0px 5px #0000001a;
  padding: 1rem;
  margin: 0.5rem;
}
.contentBox2 {
  border-radius: var(--radius);
  background-color: var(--component-bg);
  box-shadow: 0px 0px 5px #0008;
  padding: 1rem;
  margin: 0.5rem;
}
.contentBox2 {
  border: var(--border) var(--border-size) solid;
  border-radius: var(--radius);
  /* background-color: var(--component-bg); */
  padding: 1rem;
  margin: 0.5rem;
}

.contentBox4 {
  /* border: var(--border) var(--border-size) solid; */
  border-radius: var(--radius);
  background-color: var(--component-bg);
  padding: 1rem;
  margin: 0.5rem;
}
.clickable {
  cursor: pointer;
}

.flexRowContainer {
  display: flex;
  flex-direction: row;
  gap: 0 0.3rem;
  align-items: start;
}

/* Navbar */

.navbar {
  position: fixed;
  top: 0;
  /* padding: 1rem; */
  width: 100%;
  height: 55px;
  background-color: var(--bg);
  /* border-bottom: 0.2rem solid var(--border); */
  z-index: 100;
  box-shadow: 0px 0px 5px#00000044;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.navbar img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navRight li {
  margin: 0.2rem;
  height: 100%;
  align-content: center;
}
.navRight > li > a {
  height: 100%;
  display: block;
  align-content: center;
}
.navRight button {
  padding: 0.3rem;
}

.navRight > li > * > button:hover {
  background-color: inherit;
}

.navRight > li > *:hover > button {
  background-color: var(--border);
}

.navbar .hoverbox .hoverafter {
  display: none;
  position: absolute;
  top: 40px;
  background-color: var(--bg);
  flex-direction: column;
  align-items: start;

  border-radius: 0 0 var(--radius) var(--radius);
}

.hoverafter:hover {
  display: flex;
}

.navbar .hoverbox:hover .hoverafter {
  display: flex;
}

.hoverafter li {
  padding: 0.3rem 0.4rem;
  width: 100%;
  margin: 0;
  background-color: var(--bg);
}
.hoverafter:hover li:hover {
  padding: 0.3rem 0.4rem;
  background-color: var(--border);
}

/* Loader */

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Text */
.text-danger {
  color: var(--danger);
  font-weight: 700;
}
.text-sucess {
  color: var(--sucess);
  font-weight: 700;
}
.text-title {
  font-size: 2rem;
  font-weight: 700;
}
.text-subtitle {
  font-size: 1.2rem;
  /* font-weight: ; */
  color: var(--highlight1);
}
.text-titlecase {
  text-transform: capitalize;
}
.text-bg {
  position: absolute;
  display: inline;
}

/* Sign in */

.btn-logo {
  height: 1.5rem;
  aspect-ratio: 1/1;
}
.emailForm {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

/* Team */

.teamMember {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0.3rem;
}
.memberList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.requestsList {
  margin: 0;
  padding: 0;
  list-style: none;
}
.request {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.3rem;
}

.teamsList {
  list-style: none;
  padding: 0;
  margin: 0.5rem;
}

/* Profile */

.profileBox {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
}
.teamsBox {
  list-style-type: none;
}

.profileUsername {
  padding: 0.3rem 0;
}

/* Pairs */

.pairing {
  margin: 0 0.3rem 0.3rem 0;
}

.nameSlot {
  border: 0.2rem solid var(--border);
  border-radius: var(--radius);
  /* padding: 0.3rem; */
  width: 100%;
  height: 2.8rem;
  display: flex;
}

.pairSlots {
  position: absolute;
  width: calc(50% - 1rem);
  /* overflow-y: scroll; */
  /* height: 58.5rem; */
  /* grid-area: left; */
  margin: 1rem 0 1rem 1rem;
  padding-bottom: 0.7rem;
}
.nameList {
  border: 0.2rem solid var(--border);
  border-radius: var(--radius);
  /* max-height: calc(100% - 80px - 2rem); */
  position: fixed;
  width: calc(50% - 1rem);
  right: 0;
  margin: 1rem 1rem 1rem 0;
  height: calc(100% - 75px - 2rem);
  padding: 0.3rem;
}
.nameList .name {
  margin: 0.2rem;
  width: calc(33% - 0.4rem);
  color: var(--highlight);
}
.nameSlot .name {
  z-index: 1;
  margin: 0.2rem;
  align-self: flex-start;
  flex-grow: 1;
}

.pairWindow {
  display: grid;
  width: 100%;
  /* justify-content: stretch; */
  grid-template-columns: 1fr 1fr;
}
.name {
  /* cursor: grab; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  /* background-color: var(--med); */
  border: var(--border) var(--border-size) solid;
  text-align: center;
  font-family: inherit;
  /* font-weight: 700; */
  font-style: normal;
  font-size: 1.2em;
  height: 2rem;
  padding: 5px;
  border-radius: var(--radius);
  overflow-y: hidden;
  white-space: nowrap;
}
.name:hover {
  background-color: inherit;
}

.pairing[boatDisplay='false'] > :nth-child(2) .slotName {
  /* content: 'Skipper'; */
  color: var(--highlight2);
  border-color: var(--highlight2);
}
.pairing > :nth-child(2) .name {
  color: var(--highlight2);
  border-color: var(--highlight) 2;
}
.pairing > :nth-child(3) .slotName {
  /* content: 'Crew'; */
  color: var(--highlight1);
  border-color: var(--highlight1);
}
.pairing > :nth-child(3) .name {
  color: var(--highlight1);
  border-color: var(--highlight1);
  background-color: var(--medDark);
}
.pairing > :nth-child(4) .slotName {
  /* content: 'Rotating'; */
  color: var(--highlight2);
  border-color: var(--highlight2);
}
.pairing > :nth-child(4) .name {
  color: var(--highlight2);
  border-color: var(--highlight2);
  background-color: var(--medDark);
}

.slotName {
  padding: 0.5rem;
  padding: 0.7rem;
  font-size: 0.8rem;
}

/* Events */
.eventTitleBox {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.eventHeaderFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  text-transform: capitalize;
}

.descriptionTitle {
  font-size: 1.5rem;
  margin: 0.25rem 0;
}

.noStyleList {
  list-style: none;
  padding: 0;
  /* margin: 0.5rem; */
}
.eventBox {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  padding: 0.3rem;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

/* rankings */

.secondaryText {
  color: var(--highlight3);
}

.raceEntryAligned {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.raceEntryAlignedFull {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.raceElementBox {
  bottom: 5px;
  top: 220px;
  right: 15px;
  left: 15px;
  overflow: scroll;
  /* position: absolute; */
}

.comparisonBox {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.comparisonRow {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.raceByRaceTable {
  width: 100%;
  border-collapse: collapse;
  /* border: var(--border) var(--border-size) solid;
  border-radius: var(--radius); */
}
.raceByRaceBox {
  max-height: 500px;
  overflow: scroll;
}
.raceSailorsTooltip {
  position: absolute;
  background-color: var(--bg);
  display: none;
  flex-direction: column;
  padding: 0.4rem;
}
.scoreEntry:hover {
  background-color: var(--border);
}
.scoreEntry:hover > .raceSailorsTooltip {
  display: flex;
}

.tableColFit {
  width: 1%;
  white-space: nowrap;
}
th {
  background-color: var(--bg);
  position: sticky;
  top: 0;
  /* border-bottom: 2px solid var(--border); */
}
th,
td {
  padding: 0.3rem;
  text-align: left;
  /* border-bottom: 1px solid var(--border); */
  transition: 0.2s;
}

tr:hover td {
  background-color: var(--component-bg);
  min-width: fit-content;
}

.tdRightBorder {
  border-right: 1px solid var(--border);
}
.tdLeftBorder {
  border-left: 1px solid var(--border);
}
tbody:not(.ssbody) tr {
  border-bottom: 1px solid var(--border);
}
tbody:not(.ssbody) tr:nth-child(1) {
  border-top: 1px solid var(--border);
}

tbody:not(.ssbody) tr:nth-child(odd) {
  background-color: var(--veryLight);
}
.ssbody td {
  padding-top: 0;
  padding-bottom: 0;
  size: 2.5rem;
}
.ssbody {
  padding-top: 30px;
  padding-bottom: 100px;
}

tbody:not(.ssbody) tr:nth-child(even) {
  background-color: var(--bg);
}

.ratioBarBg {
  width: 100px;
  height: 100%;
  border: var(--border) var(--border-size) solid;
  /* background-color: var(--border); */
  border-radius: var(--radius);
  overflow: visible;
}
.ratioBar {
  text-align: left;
  background-color: var(--border);
  border-radius: 3px 0 0 3px;
  overflow: visible;
  /* max-width: 90px; */
}
.ratioBar > span {
  overflow: visible;
}

.flexGrowChild {
  flex-grow: 1;
  flex-basis: 0;
}
.filterOption {
  padding: 0.4rem;
  border-radius: var(--radius);
  min-width: fit-content;
  text-align: center;
  background-color: var(--border);
  font-weight: 500;
  max-width: fit-content;
  color: #ffffff;
  transition: 0.1s;
}
.filterHighlight {
  background-color: var(--highlight1);
}
tr .filterOption:hover {
  transform: scale(1);
  opacity: 100%;
}
@media (hover: hover) {
  .filterOption:hover {
    background-color: var(--highlight1);
    opacity: 50%;

    transform: scale(1.1);
  }
}

.tabButton {
  border: var(--border) var(--border-size) solid;
}

.filterHeader {
  width: 100%;
  height: 60px;
  padding: 15px;
  top: 54px;
  position: fixed;
  /* z-index: 9; */
  overflow-y: scroll;
  background-color: var(--bg);
}

.teamsTable {
  /* margin-top: 45px; */
  /* padding: 15px; */
  z-index: 8;
  overflow: scroll;
  /* position: relative; */
}

.teamTableContainer {
  max-height: calc(100vh - 55px - 60px); /* Full viewport height minus navbar and filter height */
  overflow-y: scroll;
  /* top: 115px; */
  /* position: relative; */
  translate: 0 55px;
  z-index: -1;
}

.teamsTable thead {
  position: sticky;
  z-index: 2;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  /* width: 100%; */
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  text-align: left;
  font-size: 0.85rem;
  border-radius: var(--radius);
  padding: 5px;

  position: absolute;
  top: 100%;
  left: 0;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.sailorNameRow {
  align-items: center;
  position: sticky;
  top: 55px;
  width: 100%;
  z-index: 3;
  background-color: var(--bg);
}

.chartTooltip {
  font-size: 0.8rem;
  padding: 5px;
  background-color: var(--bg);
  box-shadow: 0px 0px 5px #0000005e;
}

.chartLabel {
  text-anchor: start;
  font-size: 12px;
}

.teamPageHeader {
  padding-bottom: 15px;
  position: sticky;
  top: 55px;
  background-color: var(--bg);
  z-index: 9;
  padding-top: 15px;
}

.scrollButton {
  position: fixed;
  bottom: 10px;
  padding: 5px;

  right: 2vw;
  background-color: var(--bg);
  z-index: 100;
}
.footerContainer {
  width: 100%;
  z-index: 99;
  position: relative;
  bottom: 0;
  text-align: center;
  background-color: var(--bg);
  display: flex;
  gap: 15px;
  padding: 5px 15px;
}
.buttonBG {
  border-radius: var(--radius);
  padding: 3px;
  /* background-color: var(--border); */
  /* box-shadow: 0px 0px 5px #0000005e; */
  border: 3px solid var(--border);
  margin: 5px;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.heroTitle {
  font-size: 4rem;
  /* left: 35vw; */
  /* top: 30vh; */
  color: #fff;
  width: 100%;
  margin: 0;
  text-align: center;
}
.heroSubtitle {
  /* position: absolute; */
  font-size: 1.7rem;
  /* top: 45vh; */
  color: #eee;
  /* left: 15vw; */
  text-align: center;
  width: 100%;
  margin: 0;
}

.fullContentBox {
  /* position: absolute; */
  background-color: var(--bg);
  /* margin-top: 80px; */
  padding: 15px;
  width: 100%;
  min-height: 50%;
  z-index: 4;
}
.heroContainer {
  /* background-image: url('/hero.jpeg'); */
  background-size: cover;
  background-position: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  /* filter: blur(5px); */
}
.heroContainer::before {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.25); /* Dark overlay with transparency */
  z-index: 1; /* Makes sure the overlay is on top of the background */
}
.heroBlock {
  position: relative;
  top: 25%;
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.heroImg {
  /* height: 500px; */
}
.heroExclaim {
  color: #fff;
  position: absolute;
  transform: translate(175px) rotate(20deg);
  animation: exclaim 3s ease-in-out infinite;
}
.popupBackground {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000aa;
  z-index: 150;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popupWindow {
  position: absolute;
  background-color: var(--bg);
  padding: 20px;
  border-radius: var(--radius);
  width: 80%;
  height: 80%;
  z-index: 151;
}
.popupBar {
  display: flex;
  justify-content: space-between;
}
.popupX {
  height: 30px;
  width: 30px;
  text-align: center;
}

@keyframes exclaim {
  0% {
    /* transform: translate(175px) rotate(10deg); */
    transform: translate(175px, -50px) rotate(20deg) scale(1);
  }
  50% {
    /* transform: scale(1.2) translate(175px) rotate(30deg); */
    transform: translate(175px, -50px) rotate(20deg) scale(1.2);
  }
  100% {
    /* transform: translate(175px) rotate(10deg); */
    transform: translate(175px, -50px) rotate(20deg) scale(1);
  }
}
.sailorStatTabContainer {
  gap: 0;
  border-bottom: 5px solid var(--highlight1);
  margin: 0.75rem 0;
}
.sailorStatTabButton {
  background-color: var(--component-bg);
  padding: 0.2rem 0.5rem;
  margin: 0 0 -2px;
  border: 2px solid var(--border);
  border-bottom: none;
  border-radius: var(--radius) var(--radius) 2px 2px;
  bottom: -2px;
  text-wrap-mode: nowrap;
}
.ratingStatCard {
  border: 2px solid var(--border);
  border-radius: var(--radius);
  padding: 0.3rem;
  /* box-shadow: #00000066 0 0 5px; */
  /* max0w: 45%; */
}
.ratingStatContainer {
  gap: 0.5rem;
  width: 100%;
}

/* Mobile Stuff */
@media only screen and (max-device-width: 600px) {
  .responsiveRowCol {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .chartLabel {
    display: none;
  }
  .recharts-legend-wrapper {
    top: 0px;
  }
}

.searchBarContainer {
  position: fixed;
  width: 100%;
  left: 0;
  padding: 15px;
  background-color: var(--bg);
  z-index: 10;
}

.mobileTeamRow {
  display: flex;
  flex-direction: row;
  border-bottom: var(--border) var(--border-size) solid;
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.mobileControlsContainer {
  position: fixed;
  bottom: 1rem;
  z-index: 10000;
  background-color: var(--bg);
  width: calc(100% - 2rem);
  left: 1rem;
  /* padding: 1rem; */
  border-radius: var(--radius);
  box-shadow: 0px 0px 5px #00000066;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mobileControlsContainer button {
  padding: 0.5rem 1rem;
  border: var(--border) var(--border-size) solid;
  border-radius: var(--radius);

  flex-grow: 1;
}

.mobileControlsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /* display: flex; */
  /* flex-direction: row; */
  gap: 0.5rem;
  /* flex-wrap: wrap; */
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.flexRowCentered {
  display: flex;
  flex-direction: row;
  align-items: center;
}
